body {
    font-size: .75rem;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    color: #666;
}

.mr5 {
	margin-right: .3125rem;
}
.mr8 {
	margin-right: .5rem;
}
.mb8 {
	margin-bottom: .5rem;
}
.mb16 {
	margin-bottom: 1rem;
}
.mb24 {
	margin-bottom: 1.5rem;
}

/* img-60-60 */
.img-60-60 {
	width: 60px;
	height: 60px;
}