/**
 * sidebar-menu
 * ------------
 */

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-menu > li > a {
    padding: .75rem 1rem;
    display: block;
    color: #666;
    text-decoration: none;
    line-height: 18px;
}

.sidebar-menu > li > a:hover {
    color: #3778e1
}

.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
    width: 20px;
}

.sidebar-menu > li .label,
.sidebar-menu > li .badge {
    margin-right: 5px;
}

.sidebar-menu > li .badge {
    margin-top: 3px;
}

.sidebar-menu li.header {
    padding: .75rem 1rem;
    font-size: .75rem;
    color: #999
}

.sidebar-menu li > a > .pull-right-container > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
}

.sidebar-menu li.active > a > .pull-right-container > .fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.sidebar-menu li.active > .treeview-menu {
    display: block;
}

.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu .treeview-menu .treeview-menu {
    padding-left: 0px;
}

.sidebar-menu .treeview-menu > li {
    margin: 0;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 10px 0px 10px 36px;
    display: block;
    font-size: .75rem;
    color: #666;
    text-decoration: none;
}

.sidebar-menu .treeview-menu > li > a:hover {
    color: #3778e1
}

.sidebar-menu .treeview-menu > li.active > a {
    color: #3778e1;
    border-left: #3778e1 2px solid;
}

.sidebar-menu .treeview-menu > li > a > .fa,
.sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar-menu .treeview-menu > li > a > .ion {
    width: 20px;
}

.sidebar-menu .treeview-menu > li > a > .pull-right-container > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
    width: auto;
}



/*
 * Component: Sidebar Mini
 * @media (min-width: 768px) {}
 */

.sidebar-mini .es-container .es-content-wrapper .es-content {
    margin-left: 56px !important;
    z-index: 840;
}

.sidebar-mini .es-header .es-brand {
    width: 56px !important;
}

.sidebar-mini .es-container .es-sidebar-wrapper .es-sidebar-menu,
.sidebar-mini .es-container .es-sidebar-wrapper .es-sidebar-toggler {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 56px !important;
    z-index: 850;
}

.sidebar-mini .sidebar-menu > li > a > span,
.sidebar-mini .sidebar-menu > li > .treeview-menu,
.sidebar-mini .sidebar-menu li.header {
    display: none !important;
    -webkit-transform: translateZ(0);
}

.sidebar-mini .sidebar-menu > li {
    position: relative;
}

.sidebar-mini .sidebar-menu > li > a {
    margin-right: 0;
}

.sidebar-mini .sidebar-menu > li > a > i {
    text-align: center;
}

.sidebar-mini .sidebar-menu > li.active > a > i {
    color: #3778e1;
}

.sidebar-mini .sidebar-menu > li.active > a {
    border-left: #3778e1 2px solid;
}

.sidebar-mini .sidebar-menu > li.active > .treeview-menu > li.active > a {
    border-left: #3778e1 0px solid;
}

.sidebar-mini .sidebar-menu > li > a > span {
    border-top-right-radius: 4px;
}

.sidebar-mini .sidebar-menu > li:not(.treeview) > a > span {
    border-bottom-right-radius: 4px;
}

.sidebar-mini .sidebar-menu > li > .treeview-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-right-radius: 4px;
}

.sidebar-mini .sidebar-menu > li:hover > .treeview-menu {
    display: block !important;
    position: absolute;
    width: 190px;
    left: 56px;
    background-color: #f4f4f4;
    top: 42px;
    margin-left: 0;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.175);
}

.sidebar-mini .sidebar-menu > li:hover > a > span {
    display: block !important;
    position: absolute;
    width: 190px;
    left: 56px;
    background-color: #f4f4f4;
    top: 0px;
    padding: 12px 5px 12px 20px;
    margin-left: 0;
}
.sidebar-mini .sidebar-menu > li:not(.treeview):hover > a > span {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.175);
}

.sidebar-mini .sidebar-menu > li:hover > a > .pull-right-container {
    float: right;
    width: auto!important;
    left: 200px!important;
    top: 10px!important;
}

.sidebar-mini .es-sidebar-menu:hover {
    overflow: visible !important;
}
