<div class="es-sidebar-wrapper">
    <div class="es-sidebar-menu">
        <ul class="sidebar-menu">
            <li class="header">商品中心</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i>
                    <span>商品属性</span>
                    <span class="pull-right-container">
                                  <i class="fa fa-angle-left pull-right"></i>
                                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="###"><i class="fa fa-circle-o"></i>活动图</a></li>
                    <li class="active"><a href="###"><i class="fa fa-circle-o"></i>商品拍摄图</a></li>
                    <li><a href="###"><i class="fa fa-circle-o"></i>商品PS图</a></li>
                    <li><a href="###"><i class="fa fa-circle-o"></i>商品设计图</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-align-left"></i>
                    <span>商品详情图</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-check-circle"></i>
                    <span>商品审核</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-github-square"></i>
                    <span>素材管理</span>
                    <span class="pull-right-container">
                                  <i class="fa fa-angle-left pull-right"></i>
                                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="###"><i class="fa fa-circle-o"></i>活动图</a></li>
                    <li class="active"><a href="###"><i class="fa fa-circle-o"></i>商品拍摄图</a></li>
                    <li><a href="###"><i class="fa fa-circle-o"></i>商品PS图</a></li>
                    <li><a href="###"><i class="fa fa-circle-o"></i>商品设计图</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-text-width"></i>
                    <span>商品文案</span>
                    <span class="pull-right-container">
                                  <i class="fa fa-angle-left pull-right"></i>
                                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="###"><i class="fa fa-circle-o"></i>活动图</a></li>
                    <li class="active"><a href="###"><i class="fa fa-circle-o"></i>商品拍摄图</a></li>
                    <li><a href="###"><i class="fa fa-circle-o"></i>商品PS图</a></li>
                    <li><a href="###"><i class="fa fa-circle-o"></i>商品设计图</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-photo"></i>
                    <span>主商品设置</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-trash"></i>
                    <span>回收站</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="es-sidebar-toggler">
        <button class="btn btn-sm btn-default"><i class="fa fa-angle-left"></i></button>
    </div>
</div>
